@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    /*------------------------------------*\
    BASE
\*------------------------------------*/
    section ul,
    section h2 {
        max-width: 60%;
        margin: 0 auto;
    }

    section h2 {
        font-size: 6.2em;
        padding: 2rem 0;
    }

    section li {
        font-size: 2.8rem;
        padding: .4rem 0;
    }

    /*------------------------------------*\
    HEADER
\*------------------------------------*/

    header img.header-logo {
        position: fixed;
        top: 0;
        left: 0;
        margin: 2rem;
        height: 5rem;
        width: 4rem;
        z-index: 2;
    }

    /*------------------------------------*\
    NAV
\*------------------------------------*/
    header nav {
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
    }

    header nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #fafafa;
        list-style: none;
        margin: 0;
        position: fixed;
        right: 0;
        width: 100%;
        height: 8rem;
    }

    header nav ul li {}

    header nav ul li a {
        display: inline-block;
        background-color: #fff;
        padding: 2rem;
    }

    header nav ul li a.phone {
        font-weight: bolder;
    }

    header nav ul li a.btn-get {
        background-color: red;
        color: #fafafa;
        padding: 1rem;
        border-radius: .4rem;
        margin: 0 2rem;
    }

    /*------------------------------------*\
    SERVICES
\*------------------------------------*/


    #services {
        display: block;
        border-bottom: .1rem solid grey;
        padding: 12rem 0 20rem;
    }

    #services img {
        display: inline-block;
        width: 80rem;
        position: absolute;
        right: -23rem;
        top: 80rem;
    }

    /*------------------------------------*\
    MAIN
\*------------------------------------*/



    /*------------------------------------*\
    FOOTER
\*------------------------------------*/
}