:root {
  --color-green: #4cb267;
  --color-red: #ee4132;
  --color-white: #ffffff;
  --color-black0: #000;
  --color-black: #222111;
  --color-grey: #f0f0f0;
  --color-yellow: #eae670;
  --color-yellow0: #ffff00;
  --straw: #d5d167;
}

main {
  transition: background-color 0.5s ease-in-out;
  background-color: var(--color-grey);
}

/*------------------------------------*\
    BASE
\*------------------------------------*/
.desktop-only {
  display: none;
}
.fa-check {
  margin-right: 0.8rem;
}
.card {
  padding: 2rem;
  margin: 0 0 4rem;
  background-color: #fafafa;
  border-radius: 0.4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding: 1rem 0 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding: 1rem 0;
}

p,
li,
label,
a,
input {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

section {
  padding: 4rem 2rem;
}

a:active,
a:hover {
  color: var(--color-green);
}

/*------------------------------------*\
  #CALL BTN
\*------------------------------------*/
.call-btn-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--color-black0);
  border-top: var(--color-yellow) solid 0.2rem;
  z-index: 2;
}

.call-btn i {
  position: relative;
  padding: 1.6rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.call-btn:nth-child(1) i {
  background-color: var(--color-green);
}

.call-btn:nth-child(2) i {
  background-color: var(--color-yellow);
}

.call-btn:nth-child(3) i {
  background-color: var(--color-red);
}

.call-btn i {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  width: 100%;
  height: 100%;
}

.call-btn p {
  width: 0;
  height: 0;
  font-size: 0;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
header {
  background: url("../assets/img/header-bg.jpg") no-repeat center center fixed;
  color: var(--color-white);
  height: calc(100vh - 8rem);
}

header div.header-logo-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222111dd;
  padding: 1rem;
}

header div.header-logo-title h1 {
  font-size: 2.4rem;
  color: var(--color-white);
  padding: 0 1rem;
  text-align: center;
}

header div.header-logo-title h1 span {
  font-family: "Merriweather", serif;
  color: var(--color-yellow);
}

header .header-logo {
  width: 6rem;
  height: 7rem;
}

header div.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #222111dd;
  padding: 4rem 1rem;
  position: absolute;
  width: 100%;
  bottom: 8rem;
}

header p.header-text {
  text-align: center;
}

header p.info {
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0 0 2rem;
}

header p.estimate a {
  background-color: var(--color-red);
  color: #ffffff;
  padding: 0.8rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
  max-width: 100%;
  border-radius: 5px;
}

header p.anytime {
  font-size: 3.2rem;
  font-weight: bolder;
  color: var(--color-yellow);
  padding: 2rem 0;
}

header p.slogan {
  font-size: 2rem;
  text-transform: none;
  font-weight: bolder;
}

/*------------------------------------*\
  #SERVICES
\*------------------------------------*/

#services ul li {
  font-weight: bolder;
  line-height: 3rem;
}

#services div.services-container {
  margin: 0 auto;
}

#services div.services-container section.mySlides {
  border-radius: 0.4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  min-height: 60rem;
}

#services div.services-container section.mySlides:nth-child(1) {
  background: url("../assets/img/2-\ carré\ Ronde\ de\ surveillance.jpeg")
    no-repeat center center;
}

#services div.services-container section.mySlides:nth-child(2) {
  background: url("../assets/img/2-\ carré\ Sécurité\ incendie.jpeg") no-repeat
    center center;
}

#services div.services-container section.mySlides:nth-child(3) {
  background: url("../assets/img/2-\ carré\ Intervention\ sur\ alarme.webp")
    no-repeat center center;
}

#services div.services-container section.mySlides img {
  width: 100%;
  height: 100%;
}

#services h3 {
  font-size: 3rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

#services div.services-container section.mySlides li {
  font-size: 2rem;
}

#services div.services-container section.mySlides h3,
#services div.services-container section.mySlides li {
  color: var(--color-white);
}

.fa-check {
  color: var(--color-red);
}

.slideshow-container {
  max-width: 100%;
  height: 60rem;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  display: flex;
  align-items: center;
  height: 20rem;
  width: 40%;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.541);
  font-weight: bold;
  font-size: 8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  padding: 1rem 2rem;
}

.next {
  justify-content: flex-end;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0);
}

.prev:active,
.next:active {
  background-color: rgba(0, 0, 0, 0);
}

.dot {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*------------------------------------*\
  #A PROPOS
\*------------------------------------*/
#about p {
  text-align: left;
}

/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

#contact {
  /* background-color: var(--color-white); */
  padding: 2rem 1rem 4rem;
}

#contact fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 92vw;
  margin: 0 auto;
  padding: 8rem 2rem 4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: 0.4rem;
}

#contact fieldset legend {
  position: relative;
  top: 6rem;
  font-size: 3rem;
}

#contact div {
  width: 100%;
  margin: 1rem 0;
}

#contact label {
  font-weight: bolder;
  line-height: 3.2rem;
}

#contact input,
#contact textarea {
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--color-black);
  border: none;
  border: rgba(255, 255, 255, 0) solid 0.2rem;
  border-bottom: var(--color-white) solid 0.2rem;
  color: var(--color-white);
  outline: none;
  transition: all 0.2s;
}

#contact input:focus,
#contact textarea:focus {
  border-bottom: var(--color-yellow) solid 0.2rem;
  border: var(--color-yellow) solid 0.2rem;
}

#contact input:active,
#contact textarea:active {
  border-bottom: var(--color-yellow) solid 0.2rem;
  border: var(--color-yellow) solid 0.2rem;
}

#contact textarea {
  height: 16rem;
  font-size: 1.8rem;
}

#contact input[type="submit"] {
  background-color: var(--color-yellow);
  border: 0rem solid var(--color-white);
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#contact input[type="submit"]:hover {
  background-color: #1e293b;
  color: #fff;
}

#contact input[type="submit"]:focus {
  border-bottom: none;
  background-color: var(--color-green);
}

#contact input[type="submit"]:active {
  border-bottom: none;
  background-color: var(--color-green);
}

@media (min-width: 768px) {
  #contact input[type="submit"] {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 8rem 0;
  background-color: var(--color-black0);
}
footer div.footer-logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img.footer-logo {
  padding: 0 0 1rem;
  width: 8rem;
  height: 9rem;
}
footer div.footer-logo-container p {
  display: block;
  border-left: solid .2rem var(--color-white);
  height: 100%;
}

footer section {
  background-color: var(--color-black0);
  color: var(--color-white);
}

footer h2 {
  font-size: 2.4rem;
  color: var(--color-yellow);
}

footer h3 {
  font-size: 2rem;
  color: var(--color-yellow);
  line-height: 3rem;
  padding: 1rem 0 0;
}

footer p {
  font-size: 1.2rem;
  color: var(--color-white);
}

footer a {
  font-size: 1.6rem;
  color: var(--color-white);
}

footer i {
  color: var(--color-white);
}
footer a.fb-btn .fa-facebook-f {
  border: 0.1rem solid var(--color-white);
  padding: 1.8rem 2rem;
}
footer a.fb-btn p {
  display: inline;
  font-size: 0;
}

footer p.copyright,
footer p.copyright a {
  padding: 2rem;
  text-align: center;
}
