:root {
  --color-green: #4CB267;
  --color-red: #EE4132;
  --color-white: #ffffff;
  --color-black0: #000;
  --color-black: #222111;
  --color-grey: #808080;
  --color-yellow: #EAE670;
  --color-yellow0: #ffff00;
  --straw: #D5D167;
}

/*------------------------------------*\
    BASE
\*------------------------------------*/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
  padding: 1rem 0;
  line-height: 3rem;

}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding: 1rem 0;

}

p,
li,
label,
a,
input {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

section {
  padding: 4rem 2rem;
  background-color: #fff;
}

a:active,
a:hover {
  color: var(--color-green);
}

/*------------------------------------*\
  #CALL BTN
\*------------------------------------*/
.call-btn-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--color-black0);
  border-top: var(--color-yellow) solid .2rem;
  z-index: 2;
}

.call-btn i {
  position: relative;
  padding: 1.6rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.call-btn:nth-child(1) i {
  background-color: var(--color-green);
}

.call-btn:nth-child(2) i {
  background-color: var(--color-yellow);
}


.call-btn:nth-child(3) i {
  background-color: var(--color-red);
}

.call-btn i {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  width: 100%;
  height: 100%;
}

.call-btn p {
  width: 0;
  height: 0;
  font-size: 0;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: #222; */
  color: var(--color-white);
  height: calc(100vh - 8rem);
}

header>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem 1rem 4rem;
}

header #background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

header .header-logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1rem;
  /* position: absolute;
  top: 0; */
}

header img.header-logo {
  width: 12rem;
  height: 14rem;
}

header h1 {
  text-align: center;
  font-size: 4rem;
}

header h1 span {
  font-family: 'Merriweather', serif;
  color: var(--color-yellow);
}


header p.slogan {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.2rem;
  /* font-weight: bolder; */

}

header p.anytime {
  color: var(--color-yellow);
  font-weight: bolder;
  font-size: 4rem;
  padding: 2rem 0;
}

header a.go-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2rem;
}

header a.go-down i {
  font-size: 3.2rem;
  font-weight: lighter;
}

header a.go-down svg {
  margin-top: 1.2rem;
  animation: yourAnimation 1s ease 0s infinite normal none;
}

@keyframes yourAnimation {
  0.0% {
    transform: translate(0, 0rem);
  }

  11.0% {
    transform: translate(0, .8rem);
  }

  49.7% {
    transform: translate(0, 1rem);
  }
}

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
header nav {
  display: none;
}

/*------------------------------------*\
  #SERVICE
\*------------------------------------*/

#services ul li {
  font-weight: bolder;
  line-height: 3rem;
}

.fa-check {
  color: var(--color-red);
}

/*------------------------------------*\
  #A PROPOS
\*------------------------------------*/
#about p {
  text-align: left;
}


/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

#contact {
  background-color: var(--color-white);
  padding: 2rem 1rem 4rem;
}

#contact fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 92vw;
  margin: 0 auto;
  padding: 8rem 2rem 4rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: .4rem;
}

#contact fieldset legend {
  position: relative;
  top: 6rem;
  font-size: 3rem;
}


#contact div {
  width: 100%;
  margin: 1rem 0;
}

#contact label {
  font-weight: bolder;
  line-height: 3.2rem;
}

#contact input,
#contact textarea {
  padding: .4rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--color-black);
  border: none;
  border: rgba(255, 255, 255, 0) solid .2rem;
  border-bottom: var(--color-white) solid .2rem;
  color: var(--color-white);
  outline: none;
  transition: all .2s;
}


#contact input:focus,
#contact textarea:focus {
  border-bottom: var(--color-green) solid .2rem;
  border: var(--color-green) solid .2rem;
}

#contact input:active,
#contact textarea:active {
  border-bottom: var(--color-green) solid .2rem;
  border: var(--color-green) solid .2rem;
}

#contact textarea {
  height: 16rem;
  font-size: 1.8rem;
}

#contact input[type="submit"] {
  background-color: var(--color-green);
  border: 0rem solid var(--color-white);
  border-radius: 1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#contact input[type="submit"]:hover {
  background-color: #1e293b;
  color: #fff;
}

#contact input[type="submit"]:focus {
  border-bottom: none;
  background-color: var(--color-yellow);
}

#contact input[type="submit"]:active {
  border-bottom: none;
  background-color: var(--color-yellow);
}

@media (min-width: 768px) {
  #contact input[type="submit"] {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 8rem 0;
  background-color: var(--color-black0);
}


footer img.footer-logo {
  padding: 0 0 1rem;
  width: 8rem;
  height: 9rem;
}

footer section {
  background-color: var(--color-black0);
  color: var(--color-white);
}

footer h2 {
  font-size: 2.4rem;
  color: var(--color-yellow);
}

footer h3 {
  font-size: 2rem;
  color: var(--color-yellow);
  line-height: 3rem;
  padding: 1rem 0 0;
}

footer p {
  font-size: 1.2rem;
  color: var(--color-white)
}


footer a {
  font-size: 1.6rem;
  color: var(--color-white);
}


footer i {
  color: var(--color-white);
}

footer p.copyright,
footer p.copyright a {
  padding: 2rem;
}