:root {
  --color-green: #4CB267;
  --color-red: #EE4132;
  --color-white: #ffffff;
  --color-black0: #000;
  --color-black: #222111;
  --color-grey: #808080;
  --color-yellow: #EAE670;
  --straw: #D5D167;
}

body {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23D1D1D1'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23e8e8e8'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-32.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


/*------------------------------------*\
    BASE
\*------------------------------------*/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
  padding: 1rem 0;
}

h3 {
  font-size: 2.4rem;
}

p,
li,
label,
a,
input {
  font-size: 2rem;
}

section {
  padding: 4rem 2rem 0;
}

a:active,
a:hover {
  color: var(--color-green);
}

/*------------------------------------*\
  #CALL BTN
\*------------------------------------*/
.call-btn-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--color-black0);
  border-top: var(--color-yellow) solid .2rem;
}

.call-btn i {
  position: relative;
  padding: 1.6rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.call-btn:nth-child(1) i {
  background-color: var(--color-green);
}

.call-btn:nth-child(2) i {
  background-color: var(--color-yellow);
}


.call-btn:nth-child(3) i {
  background-color: var(--color-red);
}

.call-btn i {
  text-align: center;
  font-size: 2rem;
  color: var(--color-black);
  width: 100%;
  height: 100%;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.2rem;
  background-color: #222;
  color: var(--color-white)
}

header .header-logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img.header-logo {
  padding: 0 0 1rem;
  width: 8rem;
  height: auto;
}

header h1 {
  text-align: center;
}

header h1 span {
  font-family: 'Merriweather', serif;
  color: var(--color-yellow);
}

header p {
  text-align: center;
  line-height: 3.2rem;
}

header p.anytime {
  color: var(--color-yellow);
  font-weight: bolder;
}

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
header nav {
  display: none;
}

/*------------------------------------*\
  #SERVICE
\*------------------------------------*/
#services ul li {
  font-weight: bolder;
  line-height: 3rem;
}

.fa-check {
  color: var(--color-red);
}

/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

#contact {
  background-color: var(--color-black);
  max-width: 92vw;
  margin: 8rem auto;
  padding: 4rem 2rem;
}

#contact h2 {
  color: var(--color-white);
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact form div {
  width: 100%;
  margin: 1rem 0;
}

#contact form label {
  color: var(--color-white);
}

#contact form input,
#contact form textarea {
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--color-black);
  border: none;
  border-bottom: var(--color-white) solid .2rem;
  color: var(--color-white);
  outline: none;
}

#contact form input:focus,
#contact form textarea:focus {
  border-bottom: var(--color-green) solid .2rem;
}

#contact form input:active,
#contact form textarea:active {
  border-bottom: var(--color-green) solid .2rem;
}

#contact form textarea {
  height: 16rem;
  font-size: 1.8rem;
}

#contact form div {
  display: flex;
  flex-direction: column;
}


#contact input[type="submit"] {
  background-color: var(--color-green);
  border: .1rem solid var(--color-white);
  border-radius: 1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#contact input[type="submit"]:hover {
  background-color: #1e293b;
  color: #fff;
}

#contact input[type="submit"]:focus {
  border-bottom: none;
  background-color: var(--color-yellow);
}

#contact input[type="submit"]:active {
  border-bottom: none;
  background-color: var(--color-yellow);
}

@media (min-width: 768px) {
  #contact input[type="submit"] {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}


/*------------------------------------*\
  #A PROPOS
\*------------------------------------*/
#about p {
  text-align: left;
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 8rem 0;
  background-color: var(--color-black0);
}

footer h2 {
  font-size: 2.4rem;
  color: var(--color-yellow)
}

footer h3 {
  font-size: 2rem;
  color: var(--color-yellow)
}

footer p {
  font-size: 1.2rem;
  color: var(--color-white)
}

footer img.footer-logo {
  padding: 0 0 1rem;
  width: 8rem;
  height: auto;
}

footer a {
  font-size: 1.6rem;
  color: var(--color-white);
}


footer i {
  color: var(--color-white);
}

footer p.copyright,
footer p.copyright a {
  padding: 2rem;
}