@media only screen and (min-width: 600px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    main {
        background: #fafafa;
    }

    /*------------------------------------*\
    BASE
\*------------------------------------*/
    section {
        padding: 12rem 8rem;
    }

    section ul,
    section h2 {
        max-width: 60%;
        margin: 0 auto;
        line-height: 5rem;
    }

    section h2 {
        font-size: 4em;
        padding: 2rem 0;
        margin: 0;
        max-width: 100%;
    }

    section h3 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    section li {
        font-size: 2rem;
        padding: .4rem 0;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky+.content {
        padding-top: 60px;
    }

    /*------------------------------------*\
    HEADER
\*------------------------------------*/

    header div.header-logo-title {
        padding: 2rem;
        ;
    }

    header div.header-logo-title h1 {
        font-size: 4rem;
        text-align: center;
    }

    header div.header-text-container {
        bottom: 30%;
        background-color: #ffffff00;
    }

    header div.header-text-container p.info {
        font-size: 6rem;
        line-height: 6rem;
    }

    header p.estimate a {
        font-size: 3.2rem;

    }

    header p.anytime {
        font-size: 5.6rem;
        padding: 2rem;
    }

    header p.slogan {
        font-size: 4rem;
        line-height: 4rem;
        text-transform: none;
        font-weight: bolder;

    }

    /*------------------------------------*\
    NAV
\*------------------------------------*/

    header nav ul {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: -1;
        z-index: 2;
    }

    header nav ul li {
        display: inline-block;
        padding: 0 2rem;
        margin: 0;
        list-style: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        font-weight: 100%;
        color: #222;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    header nav ul a.btn-estimate {
        font-size: 1.6rem;
        background-color: var(--color-red);
        color: var(--color-white);
        padding: .4rem 1rem;
        border-radius: .2rem;
        text-decoration: none;
        margin: 1rem 1rem;
        display: inline-block;
        transition: all .2s;
        cursor: pointer;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }


    /*------------------------------------*\
    SERVICES
\*------------------------------------*/


    /*------------------------------------*\
    STAFF
\*------------------------------------*/
    #staff p {
        background-color: var(--color-black);
        color: var(--color-white);
        text-align: center;
        padding: 1rem;
    }

    #staff:nth-child(2) p {
        margin: 2rem 0 0;
    }

    #staff ul {
        margin: 0;
        max-width: 100%;
    }

    #staff ul li {
        line-height: 2.8rem;
    }

    /*------------------------------------*\
    MAIN
\*------------------------------------*/



    /*------------------------------------*\
    FOOTER
\*------------------------------------*/

    footer {
        /* justify-content: space-around; */
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    footer section {
        padding: 0;
    }

    footer h2 {
        font-size: 3.2rem;
    }

    footer h3 {
        padding: 0;
    }

    footer section ul {
        margin: 0;
    }

    footer p {
        padding: 0;
        align-self: flex-end;
        position: absolute;
    }
}