/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
:root{
    --footer-bg-color: #000;
    --footer-text-color: #fafafa;
 
}
footer {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 8rem 0 0;
    background-color: var(--footer-bg-color);
  }
  footer i.fa-solid {
    margin-right: 1rem;
    font-size: 1rem;
  }
  
  footer div.footer-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 92vw;
  }
  
  footer div.footer-logo-container img.footer-logo {
    width: 6rem;
    height: 6rem;
  }
  
  footer div.footer-logo-container div.vertical-bar {
    background-color: #fff;
    height: 12rem;
    width: 0.2rem;
    margin: 0 1rem;
  }
  
  footer div.footer-logo-container p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
    color: var(--footer-text-color);
  }
  footer div.footer-logo-container p span {
    font-family: "Merriweather", serif;
    color: yellow;
  }
  
  footer p {
    font-size: 1.2rem;
    color: var(--footer-text-color);
  }
  
  footer a {
    font-size: 1.2rem;
    color: var(--footer-text-color);
  }
  
  footer i {
    color: var(--footer-text-color);
  }
  
  footer a.fb-btn .fa-facebook-f {
    border: 0.1rem solid var(--footer-text-color);
    padding: .8rem .8rem;
  }
  footer a.fb-btn p {
    display: inline;
    font-size: 0;
  }
  
  footer p.copyright {
    font-size: .8rem;
    padding: 1rem;
    text-align: center;
    background-color: #000;
  }
  
  footer p.copyright a {
    font-size: .8rem;
  }